version: "3.9"

services:
  app:
    build: .
    container_name: express_app
    ports:
      - "3000:3000"
    environment:
      DATABASE_URL: postgres://postgres:postgres@db:5432/mydb
      PORT: 3000
    depends_on:
      - db
    command: npm run dev


volumes:

