body {
	margin: 3% 5%;
}

main {
	position: relative;
}

canvas {
	border: .5px solid #000000;
	display: block;
}

section {
	width: 500px;
}

a {
	text-decoration: none;
	color: black;
}

.hidden {
	visibility: hidden;
}

#border {
	border: 3px solid blue;
	width: 100px;
	height: 100px;
	position: absolute;
	pointer-events: none;
}

#erase-border {
	width: 25px;
	height: 25px;
	border: 3px solid #FF8A9D;
	pointer-events: none;
	position: fixed;
	transform: translate(-50%, -50%);
}
