body {
	margin: 3% 5%;
}

main {
	position: relative;
}

canvas {
	border: .5px solid #000000;
	display: block;
}

a {
	text-decoration: none;
	color: black;
}

.hidden {
	visibility: hidden;
}

#border {
	border: 3px solid blue;
	width: 100px;
	height: 100px;
	position: absolute;
	pointer-events: none;
}

#erase-border {
	width: 25px;
	height: 25px;
	border: 3px solid #FF8A9D;
	pointer-events: none;
	position: fixed;
	transform: translate(-50%, -50%);
}

/* HTML: <div class="loader"></div> */
.loader {
	font-weight: bold;
	font-family: monospace;
	font-size: 30px;
	display: inline-grid;
}

.loader:before,
.loader:after {
	content: "Loading...";
	grid-area: 1/1;
	-webkit-mask: linear-gradient(90deg, #000 50%, #0000 0) 0 50%/2ch 100%;
	animation: l11 1s infinite cubic-bezier(0.5, 220, 0.5, -220);
}

.loader:after {
	-webkit-mask-position: 1ch 50%;
	--s: -1;
}

@keyframes l11 {
	100% {
		transform: translateY(calc(var(--s, 1)*0.1%));
	}
}
