body {
	margin: 3% 5%;
}

main {
	position: relative;
}

canvas {
	border: .5px solid #000000;
	display: block;
}

li {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: black;
	background:
		linear-gradient(to right, rgba(100, 200, 200, 1), rgba(100, 200, 200, 1)),
		linear-gradient(to right, rgba(255, 0, 0, 1), rgba(255, 0, 180, 1), rgba(0, 100, 200, 1));
	background-size: 100% 0.1em, 0 0.1em;
	background-position: 100% 100%, 0 100%;
	background-repeat: no-repeat;
	transition: background-size 400ms;
}

a:hover,
a:focus {
	background-size: 0 0.1em, 100% 0.1em;
}

.hidden {
	display: none;
}

#border {
	border: 3px solid blue;
	width: 100px;
	height: 100px;
	position: absolute;
	pointer-events: none;
}

#erase-border {
	width: 25px;
	height: 25px;
	border: 3px solid #FF8A9D;
	pointer-events: none;
	position: fixed;
	transform: translate(-50%, -50%);
}

#controls,
#ai-acceptance {
	width: 500px
}

#main-grid {
	width: 1000px
}
